# Copy this file to .env and fill in real values. Never commit .env itself.

MONGO_URI=mongodb+srv://lenalal763_db_user:lv1nSyrUN7bzkWV6@linkup.y9hcpjr.mongodb.net/?appName=LinkUp
JWT_SECRET=28e7d5c26c0f499f158bd7cd883c5e87edc3410882f9cb199991845fb23f34646019e0969148ab936e9c215a769f6060
REDIS_URL=redis://localhost:6379

# From Google Cloud Console -> APIs & Services -> Credentials -> OAuth Client ID
GOOGLE_CLIENT_ID=1060327814927-lcgepkd6890j1kguir8rp89jus24roqb.apps.googleusercontent.com
